{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Admin Citations{% endblock %}

{% block main %}
<div class="row">

    <div class="col-6">
    
        <h3>Routes</h3>
            <ul>
                <li>
                    <br>- coucou
                </li>
            </ul>
            <a href="/api" class="btn btn-primary">Ajouter une citation</a>
    </div>

</div>

{% endblock %}

