{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Admin Citations{% endblock %}

{% block main %}
<div class="row">

    <div class="col-6">
    
        <h3>Latest quotes</h3>
            <ul>
                {% for quote in latestQuotes %}
                    <li>
                        {{ quote.data }}
                        <br>- {{ quote.createdAt|date }}
                    </li>
                {% endfor %}
            </ul>
            <button class="btn btn-primary">Ajouter une citation</button>
    </div>

    <div class="col-6">
    
        <h3>Latest Authors</h3>
            <ul>
                {% for author in latestAuthors %}
                    <li>
                        {{ author.name }}
                    </li>
                {% endfor %}
            </ul>
            <button class="btn btn-primary">Ajouter un Auteur</button>
    </div>

</div>


{% endblock %}

